# Eclipse
/.classpath
/.project
/.settings

# Intellij
.idea
*.iml
*.ipr

# Maven
target

# Jahia DX Studio
repository.xml.generated
src/main/resources/.DS_Store
src/main/.DS_Store
src/.DS_Store
.DS_Store
